@import "node_modules/bootstrap/scss/bootstrap";
@import "~font-mfizz/dist/font-mfizz.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;800&display=swap");

$orange: rgba(238, 55, 55, 0.76);

:root {
  --medium-height: 10vh;
}

body {
  min-width: 500px;
  max-width: 600px;
  padding-bottom: 1rem;
  background-color: #e5e5e5;
  font-family: "Source Code Pro", sans-serif;
}

.cb-a {
  color: #000;
  text-decoration: none;
}

.cb-border-gray {
  border: 2px solid #d9d9d9;
}
.cb-username-td {
  max-width: 350px;
}
.btn-outline-orange {
  border-color: $orange;
  color: $orange;
  border-radius: 0;
  border-width: 2px;
  @include button-outline-variant($orange);
}
#root.container-fluid {
  padding: unset;
}
.text-small {
  font-size: 1rem;
}
.navbar-item .avatar {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
}